html,
body {
    width: 100%;
    height: 100%;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.messageListContainer {
    flex-grow: 1;
    overflow-y: scroll;
}

.sendMessageContainer {
    display: flex;
    min-height: 20px;
}

.sendMessageTextBox {
    /* Without this Chrome will squash the textbox when the message list starts scrolling. */
    flex-grow: 1;
}