@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="pageContainer">
    <partial name="_Navbar"/>

    <h2><br/></h2>
    <h3 class="text-danger">@ViewData["Title"]</h3>
    <p class="text-danger">You do not have access to this resource.</p>
</div>