@{
    ViewData["Title"] = "Home Page";
}

<div class="pageContainer">

    <partial name="_Navbar" />

    <div id="messagesListContainer" class="messageListContainer">
        <ul id="messagesList"></ul>
    </div>

    <div class="sendMessageContainer">
        <input type="text" id="messageInput" class="sendMessageTextBox" placeholder="Message to send..." /><input type="button" id="sendButton" value="Send" />
    </div>

</div>

@section Scripts {
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/clientapp/Test.js"></script>
}